/* Startpage */
body {
	background-color: #2e3440
}

.RNNXgb,
.o6juZc/* Searchbar */
{
	background-color: #3b4252 !important
}

.aajZCb,
.W6pGoe,
.Ix6LGe {
	background-color: #3b4252
}

/* Search Buttons*/
.lJ9FBc input[type="submit"]:hover,
.XD1Bsc,
.jq2rAe,
.WaWKOe,
.QnfS4e,
.bZeFTe,
.k3O4ge:hover,
.SIwKhe:not(.RDPZE),
.pWhrzc-mylocation-LgbsSe,
.ujtHqf-zoom-LgbsSe {
	background-color: #3b4252 !important
}

.lJ9FBc input[type="submit"] {
	background-color: #3b4252 !important
}

.zP7KFe {
	background-color: #4c566a
}

/*footer*/
.c93Gbe,
.f6F9Be {
	background-color: #272c35
}


#gb {
	background-color: #2e3440 !important
}

.n1xJcf,
.Ne6nSd,
.k3O4ge {
	background-color: #2e3440
}



.appbar {
	background: unset !important
}





.gb_Bc,
.gb_A[aria-expanded="true"],
.gb_BC,
.gb_Bc:hover[aria-expanded="true"],
.t2vtad:hover,
t2vtad,
.hdtb-tl-sel {
	background-color: #3b4252 !important
}

/* Search */
.body.srp,
body,
.sfbg,
.yg51vc,
.WE0UJf,
.CbAZb,
.s8GCU,
.Lj9fsd,
.jZWadf,
.qcTKEe {
	background-color: #2e3440 !important
}

.HSryR .ySjHwc,
.MXl0lf,
.Lu0opc.eSq3C:hover g-fab {
	background-color: #434c5e!important
}

.I6TXqe,
.ZOyvub {
	background-color: #3b4252
}

.q0yked:hover,
.gbZSUe:hover {
	background-color: #434c5e
}

.CNf3nf,
.OvQkSb,
.LhCR5d,
.pCK9cd {
	background-color: #3b4252 !important
}

/*Maps*/
#gb#gb a,
.gb_A {
	color: white
}
